@define-color bar-bg #0b0b0b;
@define-color main-bg #0b0b0b; 
@define-color main-fg #121212;
@define-color wb-act-bg #DEC386;
@define-color wb-act-fg #1b1e25;
@define-color wb-hvr-bg #B28999;
@define-color wb-hvr-fg #1b1e25;
